<div class="container-fundraising-two-texts">
    <div class="text-left">{{ description-left }}</div>
    <div class="text-right">{{ description-right }}</div>
</div>

<style>
    .container-fundraising-two-texts{
        height: 100%;
        max-width: 1300px;
        margin: 0px auto 80px auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 50px;
    }
    .text-left{
        font-size: 18px;
        font-weight: 400;
        color: black;
        width: 50%;
        font-family: 'Modesto Text', sans-serif;
    }
    .text-right{
        font-size: 18px;
        font-weight: 400;
        color: black;
        width: 50%;
        font-family: 'Modesto Text', sans-serif;
    }
</style>