@font-face {
    font-family: 'Modesto Text';
    src: url('ModestoText-BoldItalic.woff2') format('woff2'),
        url('ModestoText-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Modesto Text';
    src: url('ModestoText-MediumItalic.woff2') format('woff2'),
        url('ModestoText-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Modesto Expanded';
    src: url('ModestoExpanded-Regular.woff2') format('woff2'),
        url('ModestoExpanded-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Modesto Text';
    src: url('ModestoText-Light.woff2') format('woff2'),
        url('ModestoText-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Permanent Marker';
    src: url('PermanentMarker-Regular.woff2') format('woff2'),
        url('PermanentMarker-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('Barlow-Regular.woff2') format('woff2'),
        url('Barlow-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('Barlow-SemiBold.woff2') format('woff2'),
        url('Barlow-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('Barlow-SemiBoldItalic.woff2') format('woff2'),
        url('Barlow-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('Barlow-ExtraBold.woff2') format('woff2'),
        url('Barlow-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('Barlow-Italic.woff2') format('woff2'),
        url('Barlow-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('Barlow-BlackItalic.woff2') format('woff2'),
        url('Barlow-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('Barlow-Bold.woff2') format('woff2'),
        url('Barlow-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('Barlow-Medium.woff2') format('woff2'),
        url('Barlow-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

